{
    "env": {
        "node": true
    },
    "root": true,
    "extends": ["eslint-config-airbnb-base"],
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "no-underscore-dangle": "off"
    }
}